@{
  Layout="Shared/_Layout.cshtml";
}


<h1>All Cuisines</h1>
<hr />
<h2>Cuisines:</h2>
<ul>
  @if (Model.Count != 0)
  {
    @foreach (var cuisine in Model)
    {
      <li><a href="/cuisines/@cuisine.GetId()">@cuisine.GetCuisineType()</a> | <a href="/cuisine/edit/@cuisine.GetId()">Edit</a> | <a href="/cuisine/delete/@cuisine.GetId()">Delete</a></li>
    }
  }
</ul>
<h5><a href="/cuisines/new">Add new cuisine</a></h5>
<h5><a href="/">Go back to the homepage</a></h5>
