@{
  Layout="Shared/_Layout.cshtml";
}


<h2>Here are all the restaurants that serve this cuisine:</h2>

@if (@Model["restaurants"].Count == 0)
{
  <p>No restaurants have been added yet!</p>
}
else
{
  <ol>
    @foreach (var restaurant in @Model["restaurants"])
    {
        <li><a href='/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a> |  <a href="/restaurant/edit/@restaurant.GetId()">Edit</a>  | <a href="/restaurant/delete/@restaurant.GetId()">Delete</a></li>
    }
  </ol>
}
<h5><a href="/restaurants/new">Add a new restaurant</a></h5>
<h5><a href="/">Return to Main Page</a></h5>
