@{
  Layout="Shared/_Layout.cshtml";
}


<h1>Seattle's Best Restaurants</h1>
<h4><a href="/cuisines">View Cuisines</a></h4>
<h4><a href="/restaurants">View Restaurants</a></h4>

<form action="/restaurant/search" method="post">
    <label for="restaurant-search">Search by restaurant name:</label>
    <input id="restaurant-search" name="restaurant-search" type="text">
    <button type="submit">Search</button>
</form>

<form action="/location/search" method="post">
    <label for="location-search">Search by location:</label>
    <input id="location-search" name="location-search" type="text">
    <button type="submit">Search</button>
</form>

<form action="/delivery/search" method="post">
    <label for="restaurant-delivery-search">Search by delivery:</label>
    <select name="restaurant-delivery-search">
      <option value = 1 name = 1>Yes</option>
      <option value = 0 name = 0>No</option>
    </select>
    <button type="submit">Search</button>
</form>
