@if (@Model.Count == 0)
{
  <p>No restaurants in that location have been entered!</p>
}
else
{
  <h1>Here is your list of restaurants:</h1>
  <ul>
    @foreach (var restaurant in Model)
    {
      <li><a href='/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a></li>
    }
  </ul>
}
<p><a href="/">Return home</a></p>
