.banner {
    height: 250px;
    width: 100%;
}

body {
    background-color: beige;
}

.container {
    width: 90%;
}

.header {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    padding-top: 100px;
    text-shadow: 3px 3px gray;
}

button {
    background-color: #7d8e72;
    color: white;
}
